/* Global variables */
:root {
    /* Color palette */
    --color-primary: #faf0ca;

    --color-seconday: #f4d35e;
    --color-seconday-brightened: #ffdd63;
    --color-seconday-darkened: #dfc157;

    --color-accent: #0d3b66;
    --color-accent-brightened: #10487e;
    --color-accent-darkened: #0a2b4b;

    --color-ui: #f4d35e;

    --color-light: #bfc0c0;

    /* Border radius for ui elements */
    --border-radius: 5px;
}


body{
    font-family: "Roboto";
    background: var(--c-primary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0; /* remove default body margin that can create gaps */
}

.content {
    flex: 1;
}

.content.hide {
    opacity: 0.5;
}


/* Wrapper for file upload fields */
.file-upload-container {
    background-color: var(--color-ui);
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 6px;
}

/* File upload button */
.file-upload-button {
    background-color: var(--color-accent);
    color: #fff;
    width: 100%;
    margin: 0;
    border: none;
    padding: 10px;
    border-radius: var(--border-radius);
    border-bottom: var(--border-radius) solid var(--color-accent-darkened);
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}
.file-upload-button:hover{
    background-color: var(--color-accent-brightened);
    border-bottom: var(--border-radius) solid var(--color-accent);
    transform: translateY(-0.25em);
    transition: all .2s ease;
    cursor: pointer;
}
.file-upload-button:active {
  border: 0;
  transition: all .2s ease;
}

/* File upload drag-and-drop field */
.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: var(--color-accent);
    padding: 60px 0;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}
.file-upload-wrapper {
    margin-top: 20px;
    border: var(--border-radius) dashed var(--color-accent);
    position: relative;
}

/* When the user hovers over the field, with or without a file in hand */
.file-dropping,
.file-upload-wrapper:hover {
    background-color: var(--color-seconday);
    border: var(--border-radius) dashed var(--color-accent-darkened);
}

/* Leaflet map */
.map-container {
    height: 400px;
    width: 620px;
    padding: 10px;
    margin: 20px auto;
    border-radius: 6px;
    background-color: var(--color-accent);
}

#map {
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    color: var(--color-primary);
    margin: auto;
    position: sticky;
    top: 50%;
    height: 400px;
    width: 620px;
}

/* Single-line footer */
.footer-single-line {
    background-color: var(--color-accent-darkened);
    color: var(--color-primary);
    border-top: 5px solid var(--color-seconday);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
.footer-single-line-link {
  color: var(--color-seconday);
  background-color: transparent;
  text-decoration: none;
}
.footer-single-line-link:hover {
  color: var(--color-seconday-brightened);
  background-color: transparent;
  text-decoration: underline;
}
.footer-single-line-link:active {
  color: var(--color-accent-brightened);
  background-color: transparent;
  text-decoration: underline;
}


/* Spinner loader */
.loader {
    --spinner-size: 120px;

    /* Centering on top of content */
    position: fixed;
    /* Adjusts for the size of the spinner to center it visually*/
    top: calc(50% - 0.5*var(--spinner-size));
    left: calc(50% - 0.5*var(--spinner-size));
    z-index: 10000; /* Put this bad boi on top of everything else */

    border: 16px solid var(--color-seconday-darkened);
    border-top: 16px solid var(--color-accent-brightened);
    border-bottom: 16px solid var(--color-accent-brightened);
    border-radius: 50%; /* Circle */
    width: var(--spinner-size);
    height: var(--spinner-size);
    animation: spin 2s linear infinite;
}

.loader.hide {
    display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}


