/* Global variables */
:root {
    /* Color palette */
    --color-primary: #e0fbfc;

    --color-seconday: #9db4c0;
    --color-seconday-brightened: #aac2cf;
    --color-seconday-darkened: #8b9faa;

    --color-accent: #253237;
    --color-accent-brightened: #314249;
    --color-accent-darkened: #192225;

    --color-ui: #c2dfe3;

    --color-light: #bfc0c0;

    /* Border radius for ui elements */
    --border-radius: 5px;
}
body{
    font-family: "Roboto";
    background: var(--c-primary);
}

/* Wrapper for file upload fields */
.file-upload {
    background-color: var(--color-ui);
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}

/* File upload button */
.file-upload-button {
    background-color: var(--color-accent);
    color: #fff;
    width: 100%;
    margin: 0;
    border: none;
    padding: 10px;
    border-radius: var(--border-radius);
    border-bottom: var(--border-radius) solid var(--color-accent-darkened);
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}
.file-upload-button:hover{
    background-color: var(--color-accent-brightened);
    border-bottom: var(--border-radius) solid var(--color-accent);
    transform: translateY(-0.25em);
    transition: all .2s ease;
    cursor: pointer;
}
.file-upload-button:active {
  border: 0;
  transition: all .2s ease;
}

/* File upload drag-and-drop field */
.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: var(--color-accent);
    padding: 60px 0;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}
.file-upload-wrapper {
    margin-top: 20px;
    border: var(--border-radius) dashed var(--color-accent);
    position: relative;
}

/* When the user hovers over the field, with or without a file in hand */
.file-dropping,
.file-upload-wrapper:hover {
    background-color: var(--color-seconday);
    border: var(--border-radius) dashed var(--color-accent-darkened);
}

